@model LojinhaV2.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Primeiro_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Primeiro_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ultimo_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ultimo_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telemovel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telemovel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Endereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Localidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Localidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distrito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Cliente_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
